[submodule "Firmware/submodules/ssd1306_mp"]
	path = Firmware/submodules/ssd1306_mp
	url = https://github.com/Kongduino/ssd1306_mp.git
[submodule "Firmware/submodules/micropython-tools"]
	path = Firmware/submodules/micropython-tools
	url = git@gitlab.gaul.za:gaulnet/micropython-tools.git
[submodule "Firmware/submodules/uencoder"]
	path = Firmware/submodules/uencoder
	url = https://gitlab.com/WiLED-Project/uencoder.git
[submodule "Firmware/submodules/ubutton"]
	path = Firmware/submodules/ubutton
	url = https://gitlab.com/WiLED-Project/ubutton.git
[submodule "Firmware/submodules/micropython-stubs"]
	path = Firmware/submodules/micropython-stubs
	url = https://github.com/Josverl/micropython-stubs.git
[submodule "Firmware/submodules/micropython-mqtt"]
	path = Firmware/submodules/micropython-mqtt
	url = https://github.com/peterhinch/micropython-mqtt.git
[submodule "Firmware/submodules/micropython-ui"]
	path = Firmware/submodules/micropython-ui
	url = git@gitlab.gaul.za:gaulnet/micropython-ui.git
[submodule "Firmware/submodules/micropython-ads1x15"]
	path = Firmware/submodules/micropython-ads1x15
	url = git@gitlab.gaul.za:tomc/micropython-ads1x15.git
